<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<!-- <Fragment> -->
	<!-- 	<ComponentGroup Id="ExampleComponents" Directory="WEBFOLDER"> -->
	<!-- 		~1~ <ComponentRef Id="Component1" /> @1@ -->
	<!-- 		~1~ <ComponentRef Id="WebComponentsGenerated" /> @1@ -->
	<!-- 		<Component> -->
	<!-- 			<File Source="ExampleComponents.wxs" /> -->
	<!-- 		</Component> -->
	<!-- 	</ComponentGroup> -->
	<!-- </Fragment> -->

</Wix>
