<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
		<Directory Id="INSTALLFOLDER" Name="Amusoft">
			<Directory Id="PRODUCTFOLDER" Name="PC Remote">
				<Directory Id="WEBFOLDER" Name="web"/>
			</Directory>
		</Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
