<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="WEBFOLDER">
            <Component Id="cmpDbgJtcE7MmyJsH_w9gMZAMaUALs" Guid="*">
                <File Id="filHjeOeigFiW5Ty1hp_aDr.yfVbUk" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.AM.Service.dll" />
            </Component>
            <Component Id="cmpQ16lVsGfNqSdjSJa1LKAU3sh15Y" Guid="*">
                <File Id="fil1f8kFH5zKpGs6yHKbMRgTMW_JbU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.AM.Service.pdb" />
            </Component>
            <Component Id="cmpAVMv8DsHKVeWa5K6G8tt6Evx8tg" Guid="*">
                <File Id="filDw5ss9WGf9HrzcwewnApdZ57oMQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.AM.Shared.dll" />
            </Component>
            <Component Id="cmpHHjGPllRe7wpBSsCwTLVHNH7P_E" Guid="*">
                <File Id="fil5RxvjyX22o5X.jYK3oq_um6issg" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.AM.Shared.pdb" />
            </Component>
            <Component Id="cmpUC7PPT0YqXgma7jr0Cd4XIJW7cE" Guid="*">
                <File Id="fil2Gm3ZQsFlfNlikMTVQYGUAXmaiQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.deps.json" />
            </Component>
            <Component Id="cmpaFaKmVbSzo.z9E6tMRYV.g8JNKw" Guid="*">
                <File Id="filc9xshW2UNwAWYA8HcKnJ4iORrQE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.dll" />
            </Component>
            <Component Id="cmpj5nnU021XetUhBfiXRAMOAUcYRU" Guid="*">
                <File Id="filpnZ4r77UncmQZ4dgZipsUa36VV8" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.pdb" />
            </Component>
            <Component Id="cmp4GzPtlMZ3sibrj036zqtgOsLHyA" Guid="*">
                <File Id="filRiFt1dMBy0F3_Ewy6HXsiNNoQbk" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.runtimeconfig.json" />
            </Component>
            <Component Id="cmpVgb7nOyaN4KcYhag1fz164PTRok" Guid="*">
                <File Id="fil5V7iO3HAKi9_eAJPg7xfEAVQbZI" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Domain.Service.dll" />
            </Component>
            <Component Id="cmpGWpt3LCOIcHXGaYqi.dJHtw2Vg8" Guid="*">
                <File Id="filni.xiaX15LR47U7MR6UUkrH7HAY" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Domain.Service.pdb" />
            </Component>
            <Component Id="cmpFl.AD7HnnVLmoZQSggGsvkBSnPU" Guid="*">
                <File Id="filodPx6HQWZy14Ap1rRtLOQzefZPo" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Domain.Shared.dll" />
            </Component>
            <Component Id="cmp0QJhH84U2RjCkJEwH0AbM3n8qwQ" Guid="*">
                <File Id="fil.Nx4k6QwoOlCqrK0m6JADVs4Oxc" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Domain.Shared.pdb" />
            </Component>
            <Component Id="cmpFjizMlx7TRQd2qbEC3SJkDpT_vA" Guid="*">
                <File Id="fil8R28aQ7213wVXab7kdDrpOjibeU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Int.IPC.dll" />
            </Component>
            <Component Id="cmpVvUHBdEDQfZrSDmi5RbWEeae2tk" Guid="*">
                <File Id="filr4310Lh_P96Pkr3ERYKQHCv_EcE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Int.IPC.pdb" />
            </Component>
            <Component Id="cmp7lZx88FEmaah2OSOFkzKoc2aifI" Guid="*">
                <File Id="fil8BKQ6XwjjBab.d.eEQfkfYQFVAM" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Int.Service.dll" />
            </Component>
            <Component Id="cmpqLelQjh4sPmcHtAk3JNwZRYM.5s" Guid="*">
                <File Id="filwkCWNvAzzivbH2qudTsSNASjLjo" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Int.Service.pdb" />
            </Component>
            <Component Id="cmp6qpjjp7ZBW_5OK6vghHQ5iQqXIg" Guid="*">
                <File Id="filqRpieMyFSvpdBDe7C54Sza4MIJM" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.Toolkit.Impersonation.dll" />
            </Component>
            <Component Id="cmpVr.gHdppF0Cmnh.ewW8EgQj3Lf4" Guid="*">
                <File Id="filntG82rwkT8JZUEYhfydsNUXYB3I" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.Toolkit.Impersonation.pdb" />
            </Component>
            <Component Id="cmp.SINXf7vlGPVsJlQTFyL90hmqys" Guid="*">
                <File Id="fil7UQirgJVgsmhBeY24IsLkInpqBI" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.Toolkit.Networking.dll" />
            </Component>
            <Component Id="cmpVIQGVhqX17buWAVeutrPQnXOYQ0" Guid="*">
                <File Id="filMafu4lz5DA10lJ6FLfjOMGDCFOk" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.Toolkit.Networking.pdb" />
            </Component>
            <Component Id="cmp8jvcb5Feii7rjEJz.SPmchsPtx8" Guid="*">
                <File Id="fil6JXH1eeVSbxxrlLJatKFCmuM3bQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\CommunityToolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmpbBy4LPrXW4yiE41dK8D5xQGX34U" Guid="*">
                <File Id="filiJbkHXy18Oo1H_pqALaRNId2KwQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\e_sqlite3.dll"/>
            </Component>
            <Component Id="cmpRkVhgnh1GVa67sxdqcbonSPIhpc" Guid="*">
                <File Id="filgTZiqRbdaWrUXwoF7flKUuTBx0o" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmpZpOhPzvENIhdihYPs6Y5PKk7o3s" Guid="*">
                <File Id="filnCSyfwHVnhss7Jrxmww6Tlri_qE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Server.ClientFactory.dll" />
            </Component>
            <Component Id="cmpJdTXOrNqGgnThivb_PPui2HDEd8" Guid="*">
                <File Id="filwNIrVPz1xntkydA2n3y17S6lT3A" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Server.dll" />
            </Component>
            <Component Id="cmpfSbcI1cYe5aED.aSHHaCU5vvf0E" Guid="*">
                <File Id="filVuZHVo_5iqFDz1kDHtcC.9E8HIA" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Server.Reflection.dll" />
            </Component>
            <Component Id="cmp_EbIGOzPnjg6ArEjpG6bw69Ia6E" Guid="*">
                <File Id="fil21NgGXF1BKM1Z4_IGkTxx1iiJy8" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Web.dll" />
            </Component>
            <Component Id="cmpsveHPoRn5hNQTveggk6nz.1b8EA" Guid="*">
                <File Id="filMzSgJ1070jdM3OJjSbA2hoe2uoU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Core.Api.dll" />
            </Component>
            <Component Id="cmpqAYzO_Dh421lyQgVwqK4lL4m7d4" Guid="*">
                <File Id="filUF_z_7131D7YHTdl0KdJXZ4Z8JM" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Core.dll" />
            </Component>
            <Component Id="cmpl55CWZnmTv0HgJCwY0BQhdqOugs" Guid="*">
                <File Id="filvWM55a_BLud1f.OzXUjDv5CwMzw" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Net.Client.dll" />
            </Component>
            <Component Id="cmpGebpCNkJpxQndUL2utHXOV6BscA" Guid="*">
                <File Id="fil6ycUtZwzEc15jcn7DGCKXWbdYMQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Net.ClientFactory.dll" />
            </Component>
            <Component Id="cmpkrYes6QUuj.Wfn4.vYFr4hHE8AI" Guid="*">
                <File Id="filtpvLA1AqZhlm.kS0LY_ATp9L9cU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Net.Common.dll" />
            </Component>
            <Component Id="cmpDu0BlZa3x4jNLEhQzGcrFCmFwxE" Guid="*">
                <File Id="filpNSqOweNDvXGbS2Djq9jsPMU3PY" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Reflection.dll" />
            </Component>
            <Component Id="cmp2GD_JEeTX0AXYqZWq6IxjhXzYQg" Guid="*">
                <File Id="fil91wnGfz25Hq.1.zGsxCVlVtGYSw" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\GrpcDotNetNamedPipes.dll" />
            </Component>
            <Component Id="cmp.A14mc_pKk71jo.U9cQ5A1wrdws" Guid="*">
                <File Id="filoqWJFeH5pXMl9KtcOTEuCJumMoA" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\grpc_csharp_ext.x64.dll" />
            </Component>
            <Component Id="cmpka8lkO2Wbw8v_6mmrQ1GBfrUqPg" Guid="*">
                <File Id="filzo8AJ7ms7nVlCxRxzdW1RxQ4NFw" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.AspNetCore.Authentication.JwtBearer.dll"/>
            </Component>
            <Component Id="cmpGmRwIsOkGj5SjTc..eys1gJwxow" Guid="*">
                <File Id="filx3oeE8T9.wK8v4R_gUdRJWGbHD8" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll"/>
            </Component>
            <Component Id="cmpBHQbxUdRriBw6PxTgpMUqMdAri8" Guid="*">
                <File Id="fili7gZMfhkAoGha38Msg1tLVPwthE" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.AspNetCore.Identity.UI.dll"/>
            </Component>
            <Component Id="cmpFGyr63jUvSZ4jbpK84.2OjHN8QI" Guid="*">
                <File Id="fil9cWyWGRaPtfDdJCgS0xBte866Mg" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.Data.Sqlite.dll"/>
            </Component>
            <Component Id="cmp9QIRnQB2C_pb.Xrov7bP_XiVr_M" Guid="*">
                <File Id="filOl6oA4SAq58lzKRt7.xQIi4XKc8" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.EntityFrameworkCore.Abstractions.dll"/>
            </Component>
            <Component Id="cmpzIm2qiGt29A47yUrXczFs_yimyo" Guid="*">
                <File Id="filfrYCuAOhL4vjVrS6Rxkq5QbdwJQ" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.EntityFrameworkCore.dll"/>
            </Component>
            <Component Id="cmpI0Ebt6SVXSSFrc6Mytwiv2iXVr4" Guid="*">
                <File Id="fildsvdb0lB8BFGgoW9gKvQN2EO2G4" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.EntityFrameworkCore.Relational.dll"/>
            </Component>
            <Component Id="cmpYJlmfJvnYfk5MMrGTxB51sSHcVk" Guid="*">
                <File Id="filfnctFiYwN9p4z4AvQZp61RhkLZU" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.EntityFrameworkCore.Sqlite.dll"/>
            </Component>
            <Component Id="cmpQ7O_6HPpOliHZkgsMi.AOvY.yVg" Guid="*">
                <File Id="filQFQpdva66btVuv6HH3nQYH8WRnw" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.Extensions.DependencyModel.dll"/>
            </Component>
            <Component Id="cmp92UuGik5KpyMzn77mFlRBjTeHVA" Guid="*">
                <File Id="filj7dQ95F9kUCn8ujN0pJMs_obJ0w" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmpgaCxziA6y8S2avXAmHzbQxIya3w" Guid="*">
                <File Id="filyXpbAuqjs7BYE7tomTL5d.vgrdg" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.IdentityModel.Abstractions.dll"/>
            </Component>
            <Component Id="cmp9kPGUYWl0RZzZFbUaXNcsfdNEyg" Guid="*">
                <File Id="filU8ITz.0QHNiUDUlbWvkj4iOrTJI" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.IdentityModel.JsonWebTokens.dll"/>
            </Component>
            <Component Id="cmptPgvlMcsBhfHvLg78LmsNmIVr6M" Guid="*">
                <File Id="filhdnaaxT1tbnH7QQnX5pWLBWjZ_k" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.IdentityModel.Logging.dll"/>
            </Component>
            <Component Id="cmpjh_FD0iuWtw0FT58s6GYSECJkEI" Guid="*">
                <File Id="fildVgXBoS9ClH.N_oYuhpIh9H3qyA" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.IdentityModel.Protocols.dll"/>
            </Component>
            <Component Id="cmp.OLoGh28GtfFHfNvjcewuEOnj80" Guid="*">
                <File Id="filtuhFTS3EmoOH2gWw9VE9fc32peg" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.IdentityModel.Protocols.OpenIdConnect.dll"/>
            </Component>
            <Component Id="cmp7sLHNP4Thoa4e4W1F6BHlEW06dY" Guid="*">
                <File Id="filKYxnyhE5f3ZeZXcF5OYzP8lFsaM" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Microsoft.IdentityModel.Tokens.dll"/>
            </Component>
            <Component Id="cmpjaGFdvVJFpX3lI_Gwuuv3JHVLt4" Guid="*">
                <File Id="filS.DDXXbuZ3sng71nJ1wmv5rMlVo" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Namotion.Reflection.dll"/>
            </Component>
            <Component Id="cmpNCF8OairhyvPj4Fv4y8mT7rVfW0" Guid="*">
                <File Id="filoGadLXU4C2ufSXIWmOrrwyUGc3k" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\Newtonsoft.Json.dll"/>
            </Component>
            <Component Id="cmpdawc5lNqKTBbte2RsmQ80bYtwds" Guid="*">
                <File Id="filqxyeNCGPymujRsC1zkSD6.2q.IY" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NJsonSchema.Annotations.dll"/>
            </Component>
            <Component Id="cmph85W7fHAOaNSZthtHgYSeJPU1bA" Guid="*">
                <File Id="fil8utWxksOnUBqJvuIk8bc43qPEXU" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NJsonSchema.dll"/>
            </Component>
            <Component Id="cmpPaTIXvypkh..sZ2zPfrUwulYSkM" Guid="*">
                <File Id="fil6j_6tul7dQNcLHDkiVmhTKuqf2s" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NJsonSchema.NewtonsoftJson.dll"/>
            </Component>
            <Component Id="cmpXXnPfaAevY9Hb80HQTwvR_SAPO8" Guid="*">
                <File Id="fillC0RdA5Xq6wM6z7UumvlJEsAKjk" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NJsonSchema.Yaml.dll"/>
            </Component>
            <Component Id="cmp9JENOmtI_1fjeqDCNU0qg974Y5I" Guid="*">
                <File Id="filXdLTV8EAv6slx7xzM9bkcIn_fjE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\NLog.dll" />
            </Component>
            <Component Id="cmpsDfe_IYXPOz.tpDhicQpTvYDqPA" Guid="*">
                <File Id="filCtlciteeqHfobj4vrkuVE_ZpfKk" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\NLog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpyAuHRwD_l0RFMjzwHMGEPwscQTs" Guid="*">
                <File Id="fil_wIYQU1C1iSTmc94VBjCqle0obc" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\NLog.Web.AspNetCore.dll" />
            </Component>
            <Component Id="cmpvyF18neAN2At50E1mkyJjjgTzq4" Guid="*">
                <File Id="filFJ0wsiHzHfUMcDnAAr.EcgUKqLg" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NSwag.Annotations.dll"/>
            </Component>
            <Component Id="cmpUt7kG61_klC5paXgSuv34vcPWpU" Guid="*">
                <File Id="filL0XPiea82OT6k.7Szpj1T8ETYFg" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NSwag.AspNetCore.dll"/>
            </Component>
            <Component Id="cmpvFpvyrxONOQmC60eTG.S8bY2chc" Guid="*">
                <File Id="filmLwJmVbjRUcxoioiF60mUPUsxdw" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NSwag.Core.dll"/>
            </Component>
            <Component Id="cmpdAkcjCPiPLMzQVzNDWAbE2v6.PI" Guid="*">
                <File Id="filN4f6BuAjAxfMy16Dt_p_M0xdESc" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NSwag.Core.Yaml.dll"/>
            </Component>
            <Component Id="cmpWEie5BaG.nK10a.Edmgg30refrc" Guid="*">
                <File Id="filBidehEIa2fg29kOCTq_0td.5Roo" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NSwag.Generation.AspNetCore.dll"/>
            </Component>
            <Component Id="cmpIxjOZckvKi3TA7Fx9R3Z4GhL9yA" Guid="*">
                <File Id="filW0gMJuQqurZXen4H1BEJJlQ1P5M" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\NSwag.Generation.dll"/>
            </Component>
            <Component Id="cmpGP0.30f5GL4Naf8I2PKOViuAKKU" Guid="*">
                <File Id="filiSFHAEE9uSFKtjJuSdPCeDiLiwg" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\QRCoder.dll"/>
            </Component>
            <Component Id="cmpXdVF5l717SHhi3xCLLVxW_u983A" Guid="*">
                <File Id="filhLXYDekP_xZPIAjtcunWSeOKQFE" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\SQLitePCLRaw.batteries_v2.dll"/>
            </Component>
            <Component Id="cmpwd53a9jDe6Y5UiQU1mCasF3UTC0" Guid="*">
                <File Id="filLCb4bUhjdBtlIePlKVXH0yhNMV8" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\SQLitePCLRaw.core.dll"/>
            </Component>
            <Component Id="cmplqajopsmdapPd.SxhdpXYgQVCbM" Guid="*">
                <File Id="filIpiXT7Iyiu7q4xNVD9PaiP7aJZo" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\SQLitePCLRaw.provider.e_sqlite3.dll"/>
            </Component>
            <Component Id="cmp5i.4NsmgHa57xwbaHG8bWJYAn9U" Guid="*">
                <File Id="filiEKpN._d_5axRZ7IrnCJJJRIhEE" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\System.IdentityModel.Tokens.Jwt.dll"/>
            </Component>
            <Component Id="cmpeXJ.TSGtKXjlv.SQTasKRYg_bg0" Guid="*">
                <File Id="filupIWJUaOQrTkpxKMIJ0o5JadSKA" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\System.Reactive.dll" />
            </Component>
            <Component Id="cmpUMxmhM5dOfedxJWcLfKPBIjaSsw" Guid="*">
                <File Id="film6DtGu7hgB1s7hxkZs2wHf3HShE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmpmqGAxTSjgX3gmgo8x2thDDWoeQA" Guid="*">
                <File Id="filG.LAaKn0bReijXgKWvta1drj5rU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\web.config" />
            </Component>
            <Component Id="cmpN8x.q411g8w87nr0UR20XBeTQVM" Guid="*">
                <File Id="filep1o5e.lHwuut3N3Qm6EybUr20M" KeyPath="yes"
                      Source="$(var.ArtifactsPathWeb)\YamlDotNet.dll"/>
            </Component>
            <Directory Id="dirJ_h5URn0C_6q4JwhHEI2BppgLk0" Name="de">
                <Component Id="cmp3tLdyVTNqN3sVGyGWuObZHWQPO4" Guid="*">
                    <File Id="filtGZ1hjryRo6wkTZztF6wMmHvAh8" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\de\Amusoft.PCR.AM.Shared.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirS6Q94bdQnovnfNDFSwaciB_g1vs" Name="wwwroot">
                <Component Id="cmpgDH6IAhiUPjHn6WNHHEWeSsJmHM" Guid="*">
                    <File Id="filYgISVMq5oQqbladMs2u7BVwJ4Dc" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\wwwroot\app.apk" />
                </Component>
                <Component Id="cmpM4K4nkunwnDDJxHcnqDoU225kt0" Guid="*">
                    <File Id="filCcudlBHIc5OYxiug_N5nzsIULKs" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\wwwroot\downloadtest.txt" />
                </Component>
                <Component Id="cmpLI0j1NmFWzupi_VI15IcqkTozAA" Guid="*">
                    <File Id="fil4RbFLjK3l_YBvpWYfKndPAkYiwc" KeyPath="yes"
                          Source="$(var.ArtifactsPathWeb)\wwwroot\qrcode.svg"/>
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WebComponentsGenerated">
            <ComponentRef Id="cmpDbgJtcE7MmyJsH_w9gMZAMaUALs" />
            <ComponentRef Id="cmpQ16lVsGfNqSdjSJa1LKAU3sh15Y" />
            <ComponentRef Id="cmpAVMv8DsHKVeWa5K6G8tt6Evx8tg" />
            <ComponentRef Id="cmpHHjGPllRe7wpBSsCwTLVHNH7P_E" />
            <ComponentRef Id="cmpUC7PPT0YqXgma7jr0Cd4XIJW7cE" />
            <ComponentRef Id="cmpaFaKmVbSzo.z9E6tMRYV.g8JNKw" />
            <ComponentRef Id="cmpj5nnU021XetUhBfiXRAMOAUcYRU" />
            <ComponentRef Id="cmp4GzPtlMZ3sibrj036zqtgOsLHyA" />
            <ComponentRef Id="cmpVgb7nOyaN4KcYhag1fz164PTRok" />
            <ComponentRef Id="cmpGWpt3LCOIcHXGaYqi.dJHtw2Vg8" />
            <ComponentRef Id="cmpFl.AD7HnnVLmoZQSggGsvkBSnPU" />
            <ComponentRef Id="cmp0QJhH84U2RjCkJEwH0AbM3n8qwQ" />
            <ComponentRef Id="cmpFjizMlx7TRQd2qbEC3SJkDpT_vA" />
            <ComponentRef Id="cmpVvUHBdEDQfZrSDmi5RbWEeae2tk" />
            <ComponentRef Id="cmp7lZx88FEmaah2OSOFkzKoc2aifI" />
            <ComponentRef Id="cmpqLelQjh4sPmcHtAk3JNwZRYM.5s" />
            <ComponentRef Id="cmp6qpjjp7ZBW_5OK6vghHQ5iQqXIg" />
            <ComponentRef Id="cmpVr.gHdppF0Cmnh.ewW8EgQj3Lf4" />
            <ComponentRef Id="cmp.SINXf7vlGPVsJlQTFyL90hmqys" />
            <ComponentRef Id="cmpVIQGVhqX17buWAVeutrPQnXOYQ0" />
            <ComponentRef Id="cmp8jvcb5Feii7rjEJz.SPmchsPtx8" />
            <ComponentRef Id="cmpbBy4LPrXW4yiE41dK8D5xQGX34U"/>
            <ComponentRef Id="cmpRkVhgnh1GVa67sxdqcbonSPIhpc" />
            <ComponentRef Id="cmpZpOhPzvENIhdihYPs6Y5PKk7o3s" />
            <ComponentRef Id="cmpJdTXOrNqGgnThivb_PPui2HDEd8" />
            <ComponentRef Id="cmpfSbcI1cYe5aED.aSHHaCU5vvf0E" />
            <ComponentRef Id="cmp_EbIGOzPnjg6ArEjpG6bw69Ia6E" />
            <ComponentRef Id="cmpsveHPoRn5hNQTveggk6nz.1b8EA" />
            <ComponentRef Id="cmpqAYzO_Dh421lyQgVwqK4lL4m7d4" />
            <ComponentRef Id="cmpl55CWZnmTv0HgJCwY0BQhdqOugs" />
            <ComponentRef Id="cmpGebpCNkJpxQndUL2utHXOV6BscA" />
            <ComponentRef Id="cmpkrYes6QUuj.Wfn4.vYFr4hHE8AI" />
            <ComponentRef Id="cmpDu0BlZa3x4jNLEhQzGcrFCmFwxE" />
            <ComponentRef Id="cmp2GD_JEeTX0AXYqZWq6IxjhXzYQg" />
            <ComponentRef Id="cmp.A14mc_pKk71jo.U9cQ5A1wrdws" />
            <ComponentRef Id="cmpka8lkO2Wbw8v_6mmrQ1GBfrUqPg"/>
            <ComponentRef Id="cmpGmRwIsOkGj5SjTc..eys1gJwxow"/>
            <ComponentRef Id="cmpBHQbxUdRriBw6PxTgpMUqMdAri8"/>
            <ComponentRef Id="cmpFGyr63jUvSZ4jbpK84.2OjHN8QI"/>
            <ComponentRef Id="cmp9QIRnQB2C_pb.Xrov7bP_XiVr_M"/>
            <ComponentRef Id="cmpzIm2qiGt29A47yUrXczFs_yimyo"/>
            <ComponentRef Id="cmpI0Ebt6SVXSSFrc6Mytwiv2iXVr4"/>
            <ComponentRef Id="cmpYJlmfJvnYfk5MMrGTxB51sSHcVk"/>
            <ComponentRef Id="cmpQ7O_6HPpOliHZkgsMi.AOvY.yVg"/>
            <ComponentRef Id="cmp92UuGik5KpyMzn77mFlRBjTeHVA" />
            <ComponentRef Id="cmpgaCxziA6y8S2avXAmHzbQxIya3w"/>
            <ComponentRef Id="cmp9kPGUYWl0RZzZFbUaXNcsfdNEyg"/>
            <ComponentRef Id="cmptPgvlMcsBhfHvLg78LmsNmIVr6M"/>
            <ComponentRef Id="cmpjh_FD0iuWtw0FT58s6GYSECJkEI"/>
            <ComponentRef Id="cmp.OLoGh28GtfFHfNvjcewuEOnj80"/>
            <ComponentRef Id="cmp7sLHNP4Thoa4e4W1F6BHlEW06dY"/>
            <ComponentRef Id="cmpjaGFdvVJFpX3lI_Gwuuv3JHVLt4"/>
            <ComponentRef Id="cmpNCF8OairhyvPj4Fv4y8mT7rVfW0"/>
            <ComponentRef Id="cmpdawc5lNqKTBbte2RsmQ80bYtwds"/>
            <ComponentRef Id="cmph85W7fHAOaNSZthtHgYSeJPU1bA"/>
            <ComponentRef Id="cmpPaTIXvypkh..sZ2zPfrUwulYSkM"/>
            <ComponentRef Id="cmpXXnPfaAevY9Hb80HQTwvR_SAPO8"/>
            <ComponentRef Id="cmp9JENOmtI_1fjeqDCNU0qg974Y5I" />
            <ComponentRef Id="cmpsDfe_IYXPOz.tpDhicQpTvYDqPA" />
            <ComponentRef Id="cmpyAuHRwD_l0RFMjzwHMGEPwscQTs" />
            <ComponentRef Id="cmpvyF18neAN2At50E1mkyJjjgTzq4"/>
            <ComponentRef Id="cmpUt7kG61_klC5paXgSuv34vcPWpU"/>
            <ComponentRef Id="cmpvFpvyrxONOQmC60eTG.S8bY2chc"/>
            <ComponentRef Id="cmpdAkcjCPiPLMzQVzNDWAbE2v6.PI"/>
            <ComponentRef Id="cmpWEie5BaG.nK10a.Edmgg30refrc"/>
            <ComponentRef Id="cmpIxjOZckvKi3TA7Fx9R3Z4GhL9yA"/>
            <ComponentRef Id="cmpGP0.30f5GL4Naf8I2PKOViuAKKU"/>
            <ComponentRef Id="cmpXdVF5l717SHhi3xCLLVxW_u983A"/>
            <ComponentRef Id="cmpwd53a9jDe6Y5UiQU1mCasF3UTC0"/>
            <ComponentRef Id="cmplqajopsmdapPd.SxhdpXYgQVCbM"/>
            <ComponentRef Id="cmp5i.4NsmgHa57xwbaHG8bWJYAn9U"/>
            <ComponentRef Id="cmpeXJ.TSGtKXjlv.SQTasKRYg_bg0" />
            <ComponentRef Id="cmpUMxmhM5dOfedxJWcLfKPBIjaSsw" />
            <ComponentRef Id="cmpmqGAxTSjgX3gmgo8x2thDDWoeQA" />
            <ComponentRef Id="cmpN8x.q411g8w87nr0UR20XBeTQVM"/>
            <ComponentRef Id="cmp3tLdyVTNqN3sVGyGWuObZHWQPO4" />
            <ComponentRef Id="cmpgDH6IAhiUPjHn6WNHHEWeSsJmHM" />
            <ComponentRef Id="cmpM4K4nkunwnDDJxHcnqDoU225kt0" />
            <ComponentRef Id="cmpLI0j1NmFWzupi_VI15IcqkTozAA"/>
        </ComponentGroup>
    </Fragment>
</Wix>