<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
<!--<Include xmlns="http://schemas.microsoft.com/wix/2006/wi">-->
<!--	<?include Module.Int.Win.Harvested.wxi ?>-->

	<Fragment>
		<ComponentGroup Id="WinAgentComponents" Directory="WINAGENTFOLDER" >
			<Component Id="INT_WIN_NLOG_COMPONENT" NeverOverwrite="yes" Permanent="yes" Guid="*">
				<File Source="$(var.ArtifactsPathWinInt)nlog.config" Name="nlog.config" Id="INT_WIN_NLOG"/>
			</Component>
		</ComponentGroup>
	</Fragment>

</Wix>
