<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="WEBFOLDER">
            <Component Id="cmpUC7PPT0YqXgma7jr0Cd4XIJW7cE" Guid="*">
                <File Id="fil2Gm3ZQsFlfNlikMTVQYGUAXmaiQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.deps.json" />
            </Component>
            <Component Id="cmpaFaKmVbSzo.z9E6tMRYV.g8JNKw" Guid="*">
                <File Id="filc9xshW2UNwAWYA8HcKnJ4iORrQE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.dll" />
            </Component>
            <Component Id="cmpJbr8ZTWGhfqn_EOds2Pqa0zXs4s" Guid="*">
                <File Id="filV0cvmzfsgJ4Ifa0eWbk94FIYn_4" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.exe" />
            </Component>
            <Component Id="cmpj5nnU021XetUhBfiXRAMOAUcYRU" Guid="*">
                <File Id="filpnZ4r77UncmQZ4dgZipsUa36VV8" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.pdb" />
            </Component>
            <Component Id="cmp4GzPtlMZ3sibrj036zqtgOsLHyA" Guid="*">
                <File Id="filRiFt1dMBy0F3_Ewy6HXsiNNoQbk" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.App.Service.runtimeconfig.json" />
            </Component>
            <Component Id="cmpWxBLThIqQh4QccYV7kbAX.Fx_fA" Guid="*">
                <File Id="filw1uMR5kwQdboA.VN5demeSQAb2M" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.App.deps.json" />
            </Component>
            <Component Id="cmpuy7jH5.tK7AwRVjx3GEMMZjNPFk" Guid="*">
                <File Id="filPm.8CziIaZLYXplmvSR0Z.nAsUc" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.App.dll" />
            </Component>
            <Component Id="cmpOF3KyxkO0lNJbicRh7jHHPowykA" Guid="*">
                <File Id="filXfTBQ2N7UvkOY6VT3_04OgqsCc0" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.App.exe" />
            </Component>
            <Component Id="cmp_ya35Kz5XTBnV6qKdVd0bTiLL9o" Guid="*">
                <File Id="filp8h2aqjJMX4P14QFDLVP8vmTMgo" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.App.pdb" />
            </Component>
            <Component Id="cmpcmexzb34jEu0zUWgCtSe5xPN.g8" Guid="*">
                <File Id="filbw_lAVfbigay0H4zjaTS2410MHM" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.App.runtimeconfig.json" />
            </Component>
            <Component Id="cmpia2hmOB9n3aXb3c6ey.epasRYCw" Guid="*">
                <File Id="fil1Tx1rvnkT4lnb94IdqvHDRozL3M" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.Shared.dll" />
            </Component>
            <Component Id="cmpFk03DDNI3awRpHahBmN1iFTCUO8" Guid="*">
                <File Id="filBE3O5Km1lVv3ScRhU.lPRmcryfw" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.ControlAgent.Shared.pdb" />
            </Component>
            <Component Id="cmpFjizMlx7TRQd2qbEC3SJkDpT_vA" Guid="*">
                <File Id="fil8R28aQ7213wVXab7kdDrpOjibeU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Int.IPC.dll" />
            </Component>
            <Component Id="cmpVvUHBdEDQfZrSDmi5RbWEeae2tk" Guid="*">
                <File Id="filr4310Lh_P96Pkr3ERYKQHCv_EcE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Amusoft.PCR.Int.IPC.pdb" />
            </Component>
            <Component Id="cmpjhA8xYcMeZoUIpxe3Idr58GgbIk" Guid="*">
                <File Id="filhYZ8ZSMlDTc31sa671z7MFWU74M" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\appsettings.Development.json" />
            </Component>
            <Component Id="cmp4g05eJCYkOSyRQIqgGW6_kfL_tA" Guid="*">
                <File Id="filZcb5c0d0CLJEJUaQQd_3l1vomTs" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\appsettings.json" />
            </Component>
            <Component Id="cmpRkVhgnh1GVa67sxdqcbonSPIhpc" Guid="*">
                <File Id="filgTZiqRbdaWrUXwoF7flKUuTBx0o" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmpZpOhPzvENIhdihYPs6Y5PKk7o3s" Guid="*">
                <File Id="filnCSyfwHVnhss7Jrxmww6Tlri_qE" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Server.ClientFactory.dll" />
            </Component>
            <Component Id="cmpJdTXOrNqGgnThivb_PPui2HDEd8" Guid="*">
                <File Id="filwNIrVPz1xntkydA2n3y17S6lT3A" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Server.dll" />
            </Component>
            <Component Id="cmpfSbcI1cYe5aED.aSHHaCU5vvf0E" Guid="*">
                <File Id="filVuZHVo_5iqFDz1kDHtcC.9E8HIA" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.AspNetCore.Server.Reflection.dll" />
            </Component>
            <Component Id="cmpsveHPoRn5hNQTveggk6nz.1b8EA" Guid="*">
                <File Id="filMzSgJ1070jdM3OJjSbA2hoe2uoU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Core.Api.dll" />
            </Component>
            <Component Id="cmpl55CWZnmTv0HgJCwY0BQhdqOugs" Guid="*">
                <File Id="filvWM55a_BLud1f.OzXUjDv5CwMzw" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Net.Client.dll" />
            </Component>
            <Component Id="cmpGebpCNkJpxQndUL2utHXOV6BscA" Guid="*">
                <File Id="fil6ycUtZwzEc15jcn7DGCKXWbdYMQ" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Net.ClientFactory.dll" />
            </Component>
            <Component Id="cmpkrYes6QUuj.Wfn4.vYFr4hHE8AI" Guid="*">
                <File Id="filtpvLA1AqZhlm.kS0LY_ATp9L9cU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Net.Common.dll" />
            </Component>
            <Component Id="cmpDu0BlZa3x4jNLEhQzGcrFCmFwxE" Guid="*">
                <File Id="filpNSqOweNDvXGbS2Djq9jsPMU3PY" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\Grpc.Reflection.dll" />
            </Component>
            <Component Id="cmpmqGAxTSjgX3gmgo8x2thDDWoeQA" Guid="*">
                <File Id="filG.LAaKn0bReijXgKWvta1drj5rU" KeyPath="yes" Source="$(var.ArtifactsPathWeb)\web.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WebComponentsGenerated">
            <ComponentRef Id="cmpUC7PPT0YqXgma7jr0Cd4XIJW7cE" />
            <ComponentRef Id="cmpaFaKmVbSzo.z9E6tMRYV.g8JNKw" />
            <ComponentRef Id="cmpJbr8ZTWGhfqn_EOds2Pqa0zXs4s" />
            <ComponentRef Id="cmpj5nnU021XetUhBfiXRAMOAUcYRU" />
            <ComponentRef Id="cmp4GzPtlMZ3sibrj036zqtgOsLHyA" />
            <ComponentRef Id="cmpWxBLThIqQh4QccYV7kbAX.Fx_fA" />
            <ComponentRef Id="cmpuy7jH5.tK7AwRVjx3GEMMZjNPFk" />
            <ComponentRef Id="cmpOF3KyxkO0lNJbicRh7jHHPowykA" />
            <ComponentRef Id="cmp_ya35Kz5XTBnV6qKdVd0bTiLL9o" />
            <ComponentRef Id="cmpcmexzb34jEu0zUWgCtSe5xPN.g8" />
            <ComponentRef Id="cmpia2hmOB9n3aXb3c6ey.epasRYCw" />
            <ComponentRef Id="cmpFk03DDNI3awRpHahBmN1iFTCUO8" />
            <ComponentRef Id="cmpFjizMlx7TRQd2qbEC3SJkDpT_vA" />
            <ComponentRef Id="cmpVvUHBdEDQfZrSDmi5RbWEeae2tk" />
            <ComponentRef Id="cmpjhA8xYcMeZoUIpxe3Idr58GgbIk" />
            <ComponentRef Id="cmp4g05eJCYkOSyRQIqgGW6_kfL_tA" />
            <ComponentRef Id="cmpRkVhgnh1GVa67sxdqcbonSPIhpc" />
            <ComponentRef Id="cmpZpOhPzvENIhdihYPs6Y5PKk7o3s" />
            <ComponentRef Id="cmpJdTXOrNqGgnThivb_PPui2HDEd8" />
            <ComponentRef Id="cmpfSbcI1cYe5aED.aSHHaCU5vvf0E" />
            <ComponentRef Id="cmpsveHPoRn5hNQTveggk6nz.1b8EA" />
            <ComponentRef Id="cmpl55CWZnmTv0HgJCwY0BQhdqOugs" />
            <ComponentRef Id="cmpGebpCNkJpxQndUL2utHXOV6BscA" />
            <ComponentRef Id="cmpkrYes6QUuj.Wfn4.vYFr4hHE8AI" />
            <ComponentRef Id="cmpDu0BlZa3x4jNLEhQzGcrFCmFwxE" />
            <ComponentRef Id="cmpmqGAxTSjgX3gmgo8x2thDDWoeQA" />
        </ComponentGroup>
    </Fragment>
</Wix>