<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="WINAGENTFOLDER">
            <Component Id="cmp9TCSzmJsX_LDVwrNd2upMt4zKsw" Guid="*">
                <File Id="filjgiha6OqXjKuaEjY_VaQ7KHpBzM" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.AM.Shared.dll" />
            </Component>
            <Component Id="cmpJNC35DakeBiEeReVgUbYXT_ouVI" Guid="*">
                <File Id="filZ89oeu7GhToxJXxCr0V6X918AU8" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.AM.Shared.pdb" />
            </Component>
            <Component Id="cmpzORhhpBPs5TzYae5ZXPZrbzU5bo" Guid="*">
                <File Id="filyb8XwH7viRsP5x4ZycKTvyJvIqA" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.AM.WindowsAgent.dll" />
            </Component>
            <Component Id="cmp.ljysf4ZwO6pw7_ZLmGiFjUBzz0" Guid="*">
                <File Id="filluXb3x7C6QUIsZ.inBAaux8GZUI" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.AM.WindowsAgent.pdb" />
            </Component>
            <Component Id="cmpVbEzMTC6oGhfpUQlgRdz1vEEevY" Guid="*">
                <File Id="fil0Dqzni2d2s.mglyoRT77FP07aTw" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.App.WindowsAgent.deps.json" />
            </Component>
            <Component Id="cmpXrhyxsrGEIdgK5JFHx9d9e5vZgY" Guid="*">
                <File Id="fillYU8.8Tjze0Ej9mefksTGLTbPzk" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.App.WindowsAgent.dll" />
            </Component>
            <Component Id="cmpX5tXbxSiPtLlZQoJal3ddySnQK4" Guid="*">
                <File Id="filCC.jo8pvBsImwmYhCH1Vqxt4w_c" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.App.WindowsAgent.exe" />
            </Component>
            <Component Id="cmpYel_SrQBWufRZLzNrYUjuZpurlg" Guid="*">
                <File Id="filAp9ad1dotWa3v8rsOV7gvaMlNPA" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.App.WindowsAgent.pdb" />
            </Component>
            <Component Id="cmpBbaQdriNnteqtqg5xa6tDhwp2EM" Guid="*">
                <File Id="filCS1Gu6N8Rg4LSxkbgs89vH.DqBw" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.App.WindowsAgent.runtimeconfig.json" />
            </Component>
            <Component Id="cmpAxz5RCUyz7HN48Zog9VEIJboTUc" Guid="*">
                <File Id="fil3s1ZN0AD0ycy.nIokOeJSY0b94o" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.Application.dll" />
            </Component>
            <Component Id="cmpKskXo68TYK_z1AVPnWApa7wBlW4" Guid="*">
                <File Id="filr_al5bRKrSF2lJ_z99iUhEuPxM0" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.Application.pdb" />
            </Component>
            <Component Id="cmpHMqBgpKyCVCvhnBg3LpSmcx6Hu4" Guid="*">
                <File Id="filXlctfXGVY2uR8XC.N.ng0QfzGng" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.Domain.dll" />
            </Component>
            <Component Id="cmp2mgoo2yM7b8auTwV94QG_f76ppw" Guid="*">
                <File Id="filvj0vXLNvr.FxQIN0f6eq1q5wnQQ" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.Domain.pdb" />
            </Component>
            <Component Id="cmpozRY2h9GoqezIHW6ds2MOf1hPG0" Guid="*">
                <File Id="fil5414_2q1vzRqzfdqLtQFy0yxORI" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.Int.IPC.dll" />
            </Component>
            <Component Id="cmp5z_299RlACu1HT8pf9qDZYOt_lE" Guid="*">
                <File Id="filSrilzKRUKld0IZxnOpVdAagfYHA" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.PCR.Int.IPC.pdb" />
            </Component>
            <Component Id="cmpYsxNERiVE_N_ct7NpsyQCCiIajA" Guid="*">
                <File Id="filTq4XOBOU6yrbOZL5KTuciCuVJAE" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.Toolkit.Impersonation.dll" />
            </Component>
            <Component Id="cmpRMQeSz_X0E1BpPGaXNAJ_fT42OE" Guid="*">
                <File Id="filQVRzi_XOWAbVFnGz_Vvg0cP.Qm8" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.Toolkit.Impersonation.pdb" />
            </Component>
            <Component Id="cmpyN2.P43V0._wykyExx_sqxh_hsA" Guid="*">
                <File Id="fil.2fA6BA1ukEw1mcYHLSfW0D.sr8" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.Toolkit.Networking.dll" />
            </Component>
            <Component Id="cmp926nfp1dnc9235R6d4cwMS6O580" Guid="*">
                <File Id="filxJ9DZThbJHWyQtEYFicG.MX92og" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Amusoft.Toolkit.Networking.pdb" />
            </Component>
            <Component Id="cmprwymMplOnXXQ_H7s2fQtbIwrJxg" Guid="*">
                <File Id="filF1MXhl8WAwCauWPNsKE3uDxogmU" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\CommunityToolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmpQUt5imTGTajxEpWg61ru3Nvuay0" Guid="*">
                <File Id="fildrqNLguppYQ3_5PRfXntx1zAan4" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\ControlzEx.dll" />
            </Component>
            <Component Id="cmpW5OCoq5o6XnKhByoHW.ShO1F_ws" Guid="*">
                <File Id="filQ7vWtzvk9WdPwNs5OBqIqIc3NEs" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmp_Rtc0AzRl4E2rJz6MXsu.x_ive0" Guid="*">
                <File Id="filWyQC3XAyEcfrvyzBwcBvJLhyMQc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Grpc.Core.Api.dll" />
            </Component>
            <Component Id="cmpcAyM5txYKRSUKGYFhXLGbymDcWo" Guid="*">
                <File Id="filDu_VpBr6os93kN6vGa9ZP9uA6TE" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Grpc.Core.dll" />
            </Component>
            <Component Id="cmpphALIcHLBvjCTct15Zmq12X_598" Guid="*">
                <File Id="filwU9iC0qS8QDuV3Sgv_.guPSv2jA" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\GrpcDotNetNamedPipes.dll" />
            </Component>
            <Component Id="cmpgNtIk5pZpRvUj.iANkDbq2.2OTY" Guid="*">
                <File Id="filB9.fkhlKvtelbZDlzMQd3elybVY" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\grpc_csharp_ext.x64.dll" />
            </Component>
            <Component Id="cmpo9LCem9XBi5PSIp4ls2uAlhvJYY" Guid="*">
                <File Id="filXsWwA8DBw1lcBk.s9tqd4rGI88g" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\grpc_csharp_ext.x86.dll" />
            </Component>
            <Component Id="cmpu7xQ2auvG3XdftD.szppHIaZzPs" Guid="*">
                <File Id="filiw_PqfMGmK6WxiHyWT9syMgAn7U" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpG0a5BfNdlkTMn6AvQdQsfv8a41s" Guid="*">
                <File Id="fild.IyfvP45jpQqKktX.CQoyBR_z0" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.BootstrapIcons.dll" />
            </Component>
            <Component Id="cmptDS9CkJ4fM6xOFDWSiNIXw9su9E" Guid="*">
                <File Id="filR2yEKeas1dU.ITMt5PPlbo24XZ0" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.BoxIcons.dll" />
            </Component>
            <Component Id="cmpw2VBfQbYwXmJdIEJSDpmii4ELGo" Guid="*">
                <File Id="filHY.yzFaDKEYjNVJuw.RQX_aSkFg" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Codicons.dll" />
            </Component>
            <Component Id="cmpT16o.xKB_aRa9mtNHfaGxgqwWhY" Guid="*">
                <File Id="filNF2YMJW4ZukKoNEf2xInTRO4X8Y" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Coolicons.dll" />
            </Component>
            <Component Id="cmpmUvKmB.WD7Dg1dEX5ipUFKzdKxc" Guid="*">
                <File Id="filWvSi_W4qdqmziGH7iqrR8dVMdhU" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Core.dll" />
            </Component>
            <Component Id="cmpSIQI.N7D5s8xZIFRF7rYFGfk3.0" Guid="*">
                <File Id="filAk.PswfKkqDtWyM683Xc6jtyePQ" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.dll" />
            </Component>
            <Component Id="cmpzK6euhDJRfA0o7HI9z3hoWANS8A" Guid="*">
                <File Id="filF9cKSiwc2EfXQc_baWsyBgyqLK4" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Entypo.dll" />
            </Component>
            <Component Id="cmphZZopYd36J3WIEu8_ZSrTn294QU" Guid="*">
                <File Id="filcGXEGCZM9RuB6Ub8TyR2IN_lJw8" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.EvaIcons.dll" />
            </Component>
            <Component Id="cmpDxfKxc5ObBZuU_n7lEW881vkarM" Guid="*">
                <File Id="film49fDndXLXs3UC5z_l9CdQM7Vlk" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.FeatherIcons.dll" />
            </Component>
            <Component Id="cmpJfJvcWtlHUD4PGlNBpowiW63.eE" Guid="*">
                <File Id="filv9Qbf0Epfe2LF3pEgJ_zHXc4BBo" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.FileIcons.dll" />
            </Component>
            <Component Id="cmpvhU7CYuWgcutBpz63hh9k7ZPaN0" Guid="*">
                <File Id="fillZT1tYg1ehA85I7Lpj8wIwqMlko" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Fontaudio.dll" />
            </Component>
            <Component Id="cmpK1z4pKAxJqaAGte0p9f1EeXLs5U" Guid="*">
                <File Id="filjuyq_ZdBUpRcwkHtpwt8ZNCGaYE" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.FontAwesome.dll" />
            </Component>
            <Component Id="cmpkGcPBhjT5SLaZiBsG.1Bfd5etEI" Guid="*">
                <File Id="filwx0v2IB5JgXzEox4ikiutd3YQBc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Fontisto.dll" />
            </Component>
            <Component Id="cmphe2YyK0bYg7DXJyY4z5N9eY9cL8" Guid="*">
                <File Id="filXH3mkqUvXiX.HHBjfN5xcNGXsVI" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.ForkAwesome.dll" />
            </Component>
            <Component Id="cmpqrJ_BcfBHcl2pORGFQ..SVxst0M" Guid="*">
                <File Id="filYoH5KCu.EAhUm9Ygq_q_PPxy5Ok" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Ionicons.dll" />
            </Component>
            <Component Id="cmpLYAKj6t4fR_zytqvv8Og0zpV.og" Guid="*">
                <File Id="filbZen51VzufWnSlVCtWuDlUSKV4Q" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.JamIcons.dll" />
            </Component>
            <Component Id="cmp5m836AGWkCup1eOfuu5vaHyS2_E" Guid="*">
                <File Id="filQQYQmcPdT_8MP1jtW_QPLyj3.zg" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Material.dll" />
            </Component>
            <Component Id="cmplWBqGbld3PwSMasgfIf20rU7YHU" Guid="*">
                <File Id="fil.otAvjtW7AMZr4Ma8cWDmiCvtUc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.MaterialDesign.dll" />
            </Component>
            <Component Id="cmpl54hhYJHfv_7VRziCeYaR8uWAdY" Guid="*">
                <File Id="filLExIm06K1wvaeshVs0CVOyRKbcw" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.MaterialLight.dll" />
            </Component>
            <Component Id="cmp__eUjlOzBrypgg9AhxITjt4GAGQ" Guid="*">
                <File Id="filAXCz4ZIZ8Hsc.8SLsv7FtdK9vNc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Microns.dll" />
            </Component>
            <Component Id="cmpwtjE5VTdn.GIyoEnIxCBaFtAMak" Guid="*">
                <File Id="filTjyK84QMeP6Jh2ywcf7I13KKqeQ" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Modern.dll" />
            </Component>
            <Component Id="cmpUqwiQmVS56ZQ1KqQF1xewvUmXis" Guid="*">
                <File Id="filsfGmZ90tIDxfqFgi_sRCIw5fRjc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Octicons.dll" />
            </Component>
            <Component Id="cmpPJB_YP7rlQzGimjTuDaZNEjADmo" Guid="*">
                <File Id="fil_Nn068wqaDfU9uYw18ac18ETDaY" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.PicolIcons.dll" />
            </Component>
            <Component Id="cmpMeqxWdQs.qTLzwQt.vlVHoGQ2o8" Guid="*">
                <File Id="filp1StJgSKOF5zxXNgxozLcwCZXqk" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.PixelartIcons.dll" />
            </Component>
            <Component Id="cmpJAovsm8A8haL65ogaNEuaGtgp4Y" Guid="*">
                <File Id="filsQaDIU1HrEJWVcq2JdH90N38NcE" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.RadixIcons.dll" />
            </Component>
            <Component Id="cmprmC11ozXdqAZAYws6NqPykWegWI" Guid="*">
                <File Id="filAd75de.dd7AkVy1EQLY56fzC58g" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.RemixIcon.dll" />
            </Component>
            <Component Id="cmpvjVXicky5PNB5XSR3mzYvJhLiAE" Guid="*">
                <File Id="filkhZltSzDM3riOefF2JkRgJPhlMM" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.RPGAwesome.dll" />
            </Component>
            <Component Id="cmp36kfMcSAJUxbENLKLqPQo1c5iV8" Guid="*">
                <File Id="filJHDVGF61k75e9XYWrEq9XAO.UFw" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.SimpleIcons.dll" />
            </Component>
            <Component Id="cmpfrticK1Y_X4TgdRjXUGQq.6xO.8" Guid="*">
                <File Id="filqL9Ot5QCY1piOCpGU.DsYT.L.WE" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Typicons.dll" />
            </Component>
            <Component Id="cmpBQiwiQ5uXuALBeocNee7nK04EeE" Guid="*">
                <File Id="fil1_NZaRIKQBMQpnSU0NIiF3AQpsc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Unicons.dll" />
            </Component>
            <Component Id="cmpwUvMCzX8uu2JkxnaY_GXeGApYns" Guid="*">
                <File Id="filWMWnAnP1Yv4S29.99hl1dRCCNN8" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.VaadinIcons.dll" />
            </Component>
            <Component Id="cmpx9dRbobi7rMk7j0Q1neT_eTSJ2w" Guid="*">
                <File Id="fil9z7z5W2ORt2Z9zuE6v5m8o27LHc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.WeatherIcons.dll" />
            </Component>
            <Component Id="cmp92Mc1hYbZDTbIoFqxcX3ZjPbM.0" Guid="*">
                <File Id="filtrB5iEyDah4f.H3yrkQfQ9GQ6Ik" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.IconPacks.Zondicons.dll" />
            </Component>
            <Component Id="cmpo7paREnDPlFvT7xOYpcrTycPamU" Guid="*">
                <File Id="filqWL3.zmpa_kMs_8bK6hM2U05FOk" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\MahApps.Metro.SimpleChildWindow.dll" />
            </Component>
            <Component Id="cmp1JJb8zYzTJhnqwk.eY4QcYj.Dvs" Guid="*">
                <File Id="filqbRxTnmP6XtSasKn.78Ze6JKVZo" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmpL2g6h_CkiH8tcTfAtO_7AMJTsy8" Guid="*">
                <File Id="fil4HEg6Viv8Ib2EZ78pZHc0Xhe998" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpVxEZtSqiwgvnMNGtV9TYRk5yXjA" Guid="*">
                <File Id="filbZHGYPyxJisPn9FtvdyQEarGMO0" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpFmByhqShAo.buotah1k6iqGUi3Q" Guid="*">
                <File Id="fil_gSzaqPTPDTDONNZk5PvSeok8r4" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpeOigQZg4ArUekW18.csWe3uiZbU" Guid="*">
                <File Id="filcWX54a14p7pABekw2LITsZEV2fY" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp4b6ALTlxzaFi3YQRtJm152dRC.o" Guid="*">
                <File Id="filzd3hJ.QiMKIJ1BN8mG2oqHva820" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpVxqoQLE2Ip6yrLN08.sUPWwQLhQ" Guid="*">
                <File Id="filZ7NmuFEfcHEVrkB3EvJv2KmXBWQ" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmp6dbEwvdJc0EygCJC4BLwhD0Efmo" Guid="*">
                <File Id="filOGNyeAKFh_RxenDb1Y6En.qMCJk" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.Asio.dll" />
            </Component>
            <Component Id="cmp5MZ5S.OzLmRTJmWe4rZKAd_lgKM" Guid="*">
                <File Id="fil9fetqNwYqWT8NjVRJ2S8WKRKwjI" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.Core.dll" />
            </Component>
            <Component Id="cmpWoGP3bogX5iLIsKYmX.AnDHgaG0" Guid="*">
                <File Id="filsGUp_CJAoBzrE5q8fxlaLMBK4DY" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.dll" />
            </Component>
            <Component Id="cmpUn4Lqh7AxgC4EFKptT3o3A.jhGQ" Guid="*">
                <File Id="filj49Fvh6bhvP1KgghEuDvSPqp5kQ" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.Midi.dll" />
            </Component>
            <Component Id="cmpaRk3dEO_Uj9s47w6ubanhyF1AgM" Guid="*">
                <File Id="fil7drurENAL4sev.MyxuFUyic8mkc" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.Wasapi.dll" />
            </Component>
            <Component Id="cmp9Hw51j8bUCmIzMkkQHwGrEaAosw" Guid="*">
                <File Id="filO.S1_lmmXG.twi2BgjlSFCRoDpE" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.WinForms.dll" />
            </Component>
            <Component Id="cmpfB1kvzuIEeKd81PB.1KstxL11HM" Guid="*">
                <File Id="filpeazFbu2Dp1DJld2obDBvHYCrWs" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NAudio.WinMM.dll" />
            </Component>
            <Component Id="cmpU4VpZPa_N4DW3cu8Dv3Xg0pjdTQ" Guid="*">
                <File Id="filAhXO3VBUpZ3HFAyWe6XIW0Tluew" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NLog.dll" />
            </Component>
            <Component Id="cmpznK.QntteD_1WKCvO.0g6mbZdY0" Guid="*">
                <File Id="filHYGRU9U0tuyvlzqbQHXxf5lP86g" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\NLog.xsd" />
            </Component>
            <Component Id="cmpDMHjULyFud9xiRWyaZ3Ca3PcJVg" Guid="*">
                <File Id="filVOd_ALWaeTdlpuA47FNxKyhcY8s" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\OneOf.dll" />
            </Component>
            <Component Id="cmptaNrMRDKtAMNFdnxVx5fi9pFR70" Guid="*">
                <File Id="filVFCjwcGg9G_GwwI05M3FkqYx.rY" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\System.Interactive.Async.dll" />
            </Component>
            <Component Id="cmpRoYqIh.84PR0KgMn1j4WisseMW4" Guid="*">
                <File Id="filWS3XUrQTPBDE3s5uRfdIHXZY.do" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\System.Linq.Async.dll" />
            </Component>
            <Component Id="cmpe4tAjKj0crjpNUWfZQ1fTre7ZXA" Guid="*">
                <File Id="filcXBDgNxUERTl7nizpRiwjyo6tzQ" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\System.Reactive.dll" />
            </Component>
            <Directory Id="dirpTRPQA4xkDz4SSqrcIeI3V15U98" Name="de">
                <Component Id="cmpZpmtWy4CODiz5gTSnNWMWBfMCUE" Guid="*">
                    <File Id="filRx1_1.9GNjxESvIUggQ4bJeM5b0" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\de\Amusoft.PCR.AM.Shared.resources.dll" />
                </Component>
                <Component Id="cmpcuRup3b0umaerOxJzrLzrNDoG58" Guid="*">
                    <File Id="fil1CxXR6Si_LfEkYBs_hq3cvYmuh8" KeyPath="yes" Source="$(var.ArtifactsPathWinInt)\de\MahApps.Metro.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WinAgentComponentsGenerated">
            <ComponentRef Id="cmp9TCSzmJsX_LDVwrNd2upMt4zKsw" />
            <ComponentRef Id="cmpJNC35DakeBiEeReVgUbYXT_ouVI" />
            <ComponentRef Id="cmpzORhhpBPs5TzYae5ZXPZrbzU5bo" />
            <ComponentRef Id="cmp.ljysf4ZwO6pw7_ZLmGiFjUBzz0" />
            <ComponentRef Id="cmpVbEzMTC6oGhfpUQlgRdz1vEEevY" />
            <ComponentRef Id="cmpXrhyxsrGEIdgK5JFHx9d9e5vZgY" />
            <ComponentRef Id="cmpX5tXbxSiPtLlZQoJal3ddySnQK4" />
            <ComponentRef Id="cmpYel_SrQBWufRZLzNrYUjuZpurlg" />
            <ComponentRef Id="cmpBbaQdriNnteqtqg5xa6tDhwp2EM" />
            <ComponentRef Id="cmpAxz5RCUyz7HN48Zog9VEIJboTUc" />
            <ComponentRef Id="cmpKskXo68TYK_z1AVPnWApa7wBlW4" />
            <ComponentRef Id="cmpHMqBgpKyCVCvhnBg3LpSmcx6Hu4" />
            <ComponentRef Id="cmp2mgoo2yM7b8auTwV94QG_f76ppw" />
            <ComponentRef Id="cmpozRY2h9GoqezIHW6ds2MOf1hPG0" />
            <ComponentRef Id="cmp5z_299RlACu1HT8pf9qDZYOt_lE" />
            <ComponentRef Id="cmpYsxNERiVE_N_ct7NpsyQCCiIajA" />
            <ComponentRef Id="cmpRMQeSz_X0E1BpPGaXNAJ_fT42OE" />
            <ComponentRef Id="cmpyN2.P43V0._wykyExx_sqxh_hsA" />
            <ComponentRef Id="cmp926nfp1dnc9235R6d4cwMS6O580" />
            <ComponentRef Id="cmprwymMplOnXXQ_H7s2fQtbIwrJxg" />
            <ComponentRef Id="cmpQUt5imTGTajxEpWg61ru3Nvuay0" />
            <ComponentRef Id="cmpW5OCoq5o6XnKhByoHW.ShO1F_ws" />
            <ComponentRef Id="cmp_Rtc0AzRl4E2rJz6MXsu.x_ive0" />
            <ComponentRef Id="cmpcAyM5txYKRSUKGYFhXLGbymDcWo" />
            <ComponentRef Id="cmpphALIcHLBvjCTct15Zmq12X_598" />
            <ComponentRef Id="cmpgNtIk5pZpRvUj.iANkDbq2.2OTY" />
            <ComponentRef Id="cmpo9LCem9XBi5PSIp4ls2uAlhvJYY" />
            <ComponentRef Id="cmpu7xQ2auvG3XdftD.szppHIaZzPs" />
            <ComponentRef Id="cmpG0a5BfNdlkTMn6AvQdQsfv8a41s" />
            <ComponentRef Id="cmptDS9CkJ4fM6xOFDWSiNIXw9su9E" />
            <ComponentRef Id="cmpw2VBfQbYwXmJdIEJSDpmii4ELGo" />
            <ComponentRef Id="cmpT16o.xKB_aRa9mtNHfaGxgqwWhY" />
            <ComponentRef Id="cmpmUvKmB.WD7Dg1dEX5ipUFKzdKxc" />
            <ComponentRef Id="cmpSIQI.N7D5s8xZIFRF7rYFGfk3.0" />
            <ComponentRef Id="cmpzK6euhDJRfA0o7HI9z3hoWANS8A" />
            <ComponentRef Id="cmphZZopYd36J3WIEu8_ZSrTn294QU" />
            <ComponentRef Id="cmpDxfKxc5ObBZuU_n7lEW881vkarM" />
            <ComponentRef Id="cmpJfJvcWtlHUD4PGlNBpowiW63.eE" />
            <ComponentRef Id="cmpvhU7CYuWgcutBpz63hh9k7ZPaN0" />
            <ComponentRef Id="cmpK1z4pKAxJqaAGte0p9f1EeXLs5U" />
            <ComponentRef Id="cmpkGcPBhjT5SLaZiBsG.1Bfd5etEI" />
            <ComponentRef Id="cmphe2YyK0bYg7DXJyY4z5N9eY9cL8" />
            <ComponentRef Id="cmpqrJ_BcfBHcl2pORGFQ..SVxst0M" />
            <ComponentRef Id="cmpLYAKj6t4fR_zytqvv8Og0zpV.og" />
            <ComponentRef Id="cmp5m836AGWkCup1eOfuu5vaHyS2_E" />
            <ComponentRef Id="cmplWBqGbld3PwSMasgfIf20rU7YHU" />
            <ComponentRef Id="cmpl54hhYJHfv_7VRziCeYaR8uWAdY" />
            <ComponentRef Id="cmp__eUjlOzBrypgg9AhxITjt4GAGQ" />
            <ComponentRef Id="cmpwtjE5VTdn.GIyoEnIxCBaFtAMak" />
            <ComponentRef Id="cmpUqwiQmVS56ZQ1KqQF1xewvUmXis" />
            <ComponentRef Id="cmpPJB_YP7rlQzGimjTuDaZNEjADmo" />
            <ComponentRef Id="cmpMeqxWdQs.qTLzwQt.vlVHoGQ2o8" />
            <ComponentRef Id="cmpJAovsm8A8haL65ogaNEuaGtgp4Y" />
            <ComponentRef Id="cmprmC11ozXdqAZAYws6NqPykWegWI" />
            <ComponentRef Id="cmpvjVXicky5PNB5XSR3mzYvJhLiAE" />
            <ComponentRef Id="cmp36kfMcSAJUxbENLKLqPQo1c5iV8" />
            <ComponentRef Id="cmpfrticK1Y_X4TgdRjXUGQq.6xO.8" />
            <ComponentRef Id="cmpBQiwiQ5uXuALBeocNee7nK04EeE" />
            <ComponentRef Id="cmpwUvMCzX8uu2JkxnaY_GXeGApYns" />
            <ComponentRef Id="cmpx9dRbobi7rMk7j0Q1neT_eTSJ2w" />
            <ComponentRef Id="cmp92Mc1hYbZDTbIoFqxcX3ZjPbM.0" />
            <ComponentRef Id="cmpo7paREnDPlFvT7xOYpcrTycPamU" />
            <ComponentRef Id="cmp1JJb8zYzTJhnqwk.eY4QcYj.Dvs" />
            <ComponentRef Id="cmpL2g6h_CkiH8tcTfAtO_7AMJTsy8" />
            <ComponentRef Id="cmpVxEZtSqiwgvnMNGtV9TYRk5yXjA" />
            <ComponentRef Id="cmpFmByhqShAo.buotah1k6iqGUi3Q" />
            <ComponentRef Id="cmpeOigQZg4ArUekW18.csWe3uiZbU" />
            <ComponentRef Id="cmp4b6ALTlxzaFi3YQRtJm152dRC.o" />
            <ComponentRef Id="cmpVxqoQLE2Ip6yrLN08.sUPWwQLhQ" />
            <ComponentRef Id="cmp6dbEwvdJc0EygCJC4BLwhD0Efmo" />
            <ComponentRef Id="cmp5MZ5S.OzLmRTJmWe4rZKAd_lgKM" />
            <ComponentRef Id="cmpWoGP3bogX5iLIsKYmX.AnDHgaG0" />
            <ComponentRef Id="cmpUn4Lqh7AxgC4EFKptT3o3A.jhGQ" />
            <ComponentRef Id="cmpaRk3dEO_Uj9s47w6ubanhyF1AgM" />
            <ComponentRef Id="cmp9Hw51j8bUCmIzMkkQHwGrEaAosw" />
            <ComponentRef Id="cmpfB1kvzuIEeKd81PB.1KstxL11HM" />
            <ComponentRef Id="cmpU4VpZPa_N4DW3cu8Dv3Xg0pjdTQ" />
            <ComponentRef Id="cmpznK.QntteD_1WKCvO.0g6mbZdY0" />
            <ComponentRef Id="cmpDMHjULyFud9xiRWyaZ3Ca3PcJVg" />
            <ComponentRef Id="cmptaNrMRDKtAMNFdnxVx5fi9pFR70" />
            <ComponentRef Id="cmpRoYqIh.84PR0KgMn1j4WisseMW4" />
            <ComponentRef Id="cmpe4tAjKj0crjpNUWfZQ1fTre7ZXA" />
            <ComponentRef Id="cmpZpmtWy4CODiz5gTSnNWMWBfMCUE" />
            <ComponentRef Id="cmpcuRup3b0umaerOxJzrLzrNDoG58" />
        </ComponentGroup>
    </Fragment>
</Wix>