<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-PCR2-winIntegration.txt">
	<variable name="loggerFormatted" value="${pad:padding=80:inner=${logger}}"/>
	<variable name="applicationName" value="PCR2"/>
	<variable name="timestamp" value="${date:HH\:mm\:ss.fff}"/>

	<variable name="commonLogRoot" value="${basedir}../logs"/>
	<!-- <variable name="commonLogRoot" value="${specialFolder:folder=CommonApplicationData}/Amusoft/${applicationName}/logs"/> -->
	<variable name="logRoot" value="${commonLogRoot}/win-integration/"/>
	<variable name="archiveRoot" value="${commonLogRoot}/win-integration/archive/"/>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Debugger" name="debugger" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}}|${loggerFormatted} | ${message} ${exception:format=tostring}"/>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="fileLowDetail"
		        createDirs="true"
		        archiveEvery="Day" archiveNumbering="Rolling" archiveFileName="${archiveRoot}min-detail.{##}.log" maxArchiveFiles="3"
		        autoFlush="true" enableFileDelete="true" encoding="utf-8"
		        fileName="${logRoot}min-detail-desktop.log"
				layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}}|${loggerFormatted} | ${message} ${exception:format=tostring}" />

		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
		        layout="${timestamp} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			<highlight-word regex="\[[^]]+\]" foregroundColor="DarkYellow" compileRegex="true" />
			<highlight-word regex="\([^)]+\)" foregroundColor="Cyan" compileRegex="true" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="coloredConsole" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole -->

		<logger name="*" minlevel="Debug" writeTo="fileLowDetail,coloredConsole,debugger" />
	</rules>
</nlog>